<!-- seller-dashboard.component.html (example for seller) -->
<div class="dashboard-container">
    <!-- Header Section -->
    <header class="dashboard-header">
      <h1>Seller Dashboard</h1> <!-- Change text for Admin Dashboard -->
      <button class="logout-button" (click)="logout()">Logout</button>
    </header>
  
    <!-- Content of Dashboard -->
    <div class="dashboard-content">
        <app-seller-upload></app-seller-upload>
        <app-product-list></app-product-list>
    </div>
  </div>

