<app-navbar></app-navbar>


<div class="contacts-container">
    <div class="contacts-header">
      <h1>Contact Us</h1>
      <p>If you have any inquiries or need support, please reach out to us:</p>
    </div>
  
    <div class="contact">
      <div>
        <div class="name">Customer Support</div>
        <div class="email">supportomegatech.com</div>
        <div class="phone">+1 (800) 123-4567</div>
      </div>
    </div>
  
    <div class="contact">
      <div>
        <div class="name">Sales Department</div>
        <div class="email">salesomegatech.com</div>
        <div class="phone">+1 (800) 765-4321</div>
      </div>
    </div>
  
    <div class="contact">
      <div>
        <div class="name">Technical Support</div>
        <div class="email">techsupportomegatech.com</div>
        <div class="phone">+1 (800) 555-1234</div>
      </div>
    </div>
  </div>
  