
<div class="checkout-container">
    <h2>Your Checkout Items</h2>
  
    <div *ngIf="checkoutItems.length > 0; else emptyCheckout">
      <div class="checkout-items-container">
        <div class="checkout-item" *ngFor="let item of paginatedItems">
          <div class="checkout-item-image">
            <img
              [src]="'http://localhost:3000/uploads/' + item.product.photo"
              alt="{{ item.product.productName }}"
              class="product-image"
            />
          </div>
          <div class="checkout-item-details">
            <h5>{{ item.product.productName }}</h5>
            <p>{{ item.product.description }}</p>
            <p><strong>Price:</strong> ${{ item.product.price }}</p>
            <p><strong>Quantity:</strong> {{ item.quantity }}</p>
            <p><strong>Total:</strong> ${{ calculateTotalPrice(item) | number: '1.2-2' }}</p>
            <p><strong>Delivered at:</strong> {{item.address}}</p>

          </div>
        </div>
      </div>
  
      <div class="paginator">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
      </div>
    </div>
  
    <ng-template #emptyCheckout>
      <p>Your checkout list is empty.</p>
    </ng-template>
  </div>